<div>
  <h2>Vehicle List</h2>
  <table>
    <tr>
      <th>ID</th>
      <th>Model</th>
      <th>Color</th>
      <th>Price</th>
      <th>Brand</th>
      <th>Owner</th>
    </tr>
    <tr *ngFor="let vehicle of vehicles">
      <td>{{vehicle.id}}</td>
      <td>{{vehicle.model}}</td>
      <td>{{vehicle.color}}</td>
      <td>{{vehicle.price}}</td>
      <td>{{vehicle.brand.name}}</td> <!-- Uso del operador de encadenamiento opcional -->
      <td>{{vehicle.owner.name}}</td> <!-- Uso del operador de encadenamiento opcional -->
    </tr>
  </table>
</div>
